.container {
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  input {
    width: 70%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  button.delete {
    background-color: #dc3545;
  }
  
  button.delete:hover {
    background-color: #c82333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #201818;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
  
  span {
    font-size: 16px;
    font-weight: bold;
  }
  